In [2]:
import pandas as pd

# Cargar el dataset (sustituye 'data.csv' por el archivo de tu dataset)
df = pd.read_csv('./databases/dataset/shopping_trends.csv')

n = len(df)
half = n // 2

df_online = df.iloc[:half].copy()
# Iterar sobre las columnas y obtener los valores únicos
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Valores únicos en la columna '{column}': {unique_values}")

Valores únicos en la columna 'Customer ID': [   1    2    3 ... 3898 3899 3900]
Valores únicos en la columna 'Age': [55 19 50 21 45 46 63 27 26 57 53 30 61 65 64 25 52 66 31 56 18 38 54 33
 36 35 29 70 69 67 20 39 42 68 49 59 47 40 41 48 22 24 44 37 58 32 62 51
 28 43 34 23 60]
Valores únicos en la columna 'Gender': ['Male' 'Female']
Valores únicos en la columna 'Item Purchased': ['Blouse' 'Sweater' 'Jeans' 'Sandals' 'Sneakers' 'Shirt' 'Shorts' 'Coat'
 'Handbag' 'Shoes' 'Dress' 'Skirt' 'Sunglasses' 'Pants' 'Jacket' 'Hoodie'
 'Jewelry' 'T-shirt' 'Scarf' 'Hat' 'Socks' 'Backpack' 'Belt' 'Boots'
 'Gloves']
Valores únicos en la columna 'Category': ['Clothing' 'Footwear' 'Outerwear' 'Accessories']
Valores únicos en la columna 'Purchase Amount (USD)': [ 53  64  73  90  49  20  85  34  97  31  68  72  51  81  36  38  48  62
  37  88  22  25  56  94  79  67  91  33  69  45  60  76  39 100  21  43
  54  55  30  28  59  24  83  46  70  29  26  58  96  40  32  95  41  47
  99  87  92  98  89  35  75  65  86  84  77  27  23  74  80  42  61  82
  78  93  50  57  66  44  52  71  63]
Valores únicos en la columna 'Location': ['Kentucky' 'Maine' 'Massachusetts' 'Rhode Island' 'Oregon' 'Wyoming'
 'Montana' 'Louisiana' 'West Virginia' 'Missouri' 'Arkansas' 'Hawaii'
 'Delaware' 'New Hampshire' 'New York' 'Alabama' 'Mississippi'
 'North Carolina' 'California' 'Oklahoma' 'Florida' 'Texas' 'Nevada'
 'Kansas' 'Colorado' 'North Dakota' 'Illinois' 'Indiana' 'Arizona'
 'Alaska' 'Tennessee' 'Ohio' 'New Jersey' 'Maryland' 'Vermont'
 'New Mexico' 'South Carolina' 'Idaho' 'Pennsylvania' 'Connecticut' 'Utah'
 'Virginia' 'Georgia' 'Nebraska' 'Iowa' 'South Dakota' 'Minnesota'
 'Washington' 'Wisconsin' 'Michigan']
Valores únicos en la columna 'Size': ['L' 'S' 'M' 'XL']
Valores únicos en la columna 'Color': ['Gray' 'Maroon' 'Turquoise' 'White' 'Charcoal' 'Silver' 'Pink' 'Purple'
 'Olive' 'Gold' 'Violet' 'Teal' 'Lavender' 'Black' 'Green' 'Peach' 'Red'
 'Cyan' 'Brown' 'Beige' 'Orange' 'Indigo' 'Yellow' 'Magenta' 'Blue']
Valores únicos en la columna 'Season': ['Winter' 'Spring' 'Summer' 'Fall']
Valores únicos en la columna 'Review Rating': [3.1 3.5 2.7 2.9 3.2 2.6 4.8 4.1 4.9 4.5 4.7 2.8 4.6 3.3 4.4 3.6 5.  4.
 3.7 4.2 3.9 3.  3.8 3.4 4.3 2.5]
Valores únicos en la columna 'Subscription Status': ['Yes' 'No']
Valores únicos en la columna 'Payment Method': ['Credit Card' 'Bank Transfer' 'Cash' 'PayPal' 'Venmo' 'Debit Card']
Valores únicos en la columna 'Shipping Type': ['Express' 'Free Shipping' 'Next Day Air' 'Standard' '2-Day Shipping'
 'Store Pickup']
Valores únicos en la columna 'Discount Applied': ['Yes' 'No']
Valores únicos en la columna 'Promo Code Used': ['Yes' 'No']
Valores únicos en la columna 'Previous Purchases': [14  2 23 49 31 19  8  4 26 10 37 34 44 36 17 46 50 22 32 40 16 13  7 41
 45 38 48 18 15 25 39 35 29 21 43  3  5 24 42 47 28 20 33  1  9 12 27 11
 30  6]
Valores únicos en la columna 'Preferred Payment Method': ['Venmo' 'Cash' 'Credit Card' 'PayPal' 'Bank Transfer' 'Debit Card']
Valores únicos en la columna 'Frequency of Purchases': ['Fortnightly' 'Weekly' 'Annually' 'Quarterly' 'Bi-Weekly' 'Monthly'
 'Every 3 Months']

In [3]:
df.isnull().sum()

Customer ID                 0
Age                         0
Gender                      0
Item Purchased              0
Category                    0
Purchase Amount (USD)       0
Location                    0
Size                        0
Color                       0
Season                      0
Review Rating               0
Subscription Status         0
Payment Method              0
Shipping Type               0
Discount Applied            0
Promo Code Used             0
Previous Purchases          0
Preferred Payment Method    0
Frequency of Purchases      0
dtype: int64

In [4]:
df_ventas_ubicacion = df.groupby('Location')['Purchase Amount (USD)'].sum().reset_index()
df_ventas_ubicacion

          Location  Purchase Amount (USD)
0          Alabama                   5261
1           Alaska                   4867
2          Arizona                   4326
3         Arkansas                   4828
4       California                   5605
5         Colorado                   4222
6      Connecticut                   4226
7         Delaware                   4758
8          Florida                   3798
9          Georgia                   4645
10          Hawaii                   3752
11           Idaho                   5587
12        Illinois                   5617
13         Indiana                   4655
14            Iowa                   4201
15          Kansas                   3437
16        Kentucky                   4402
17       Louisiana                   4848
18           Maine                   4388
19        Maryland                   4795
20   Massachusetts                   4384
21        Michigan                   4533
22       Minnesota                   4977
23     Mississippi                   4883
24        Missouri                   4691
25         Montana                   5784
26        Nebraska                   5172
27          Nevada                   5514
28   New Hampshire                   4219
29      New Jersey                   3802
30      New Mexico                   5014
31        New York                   5257
32  North Carolina                   4742
33    North Dakota                   5220
34            Ohio                   4649
35        Oklahoma                   4376
36          Oregon                   4243
37    Pennsylvania                   4926
38    Rhode Island                   3871
39  South Carolina                   4439
40    South Dakota                   4236
41       Tennessee                   4772
42           Texas                   4712
43            Utah                   4443
44         Vermont                   4860
45        Virginia                   4842
46      Washington                   4623
47   West Virginia                   5174
48       Wisconsin                   4196
49         Wyoming                   4309

In [5]:
df_ventas_ubicacion['Purchase Amount (USD)'].tolist()

[5261,
 4867,
 4326,
 4828,
 5605,
 4222,
 4226,
 4758,
 3798,
 4645,
 3752,
 5587,
 5617,
 4655,
 4201,
 3437,
 4402,
 4848,
 4388,
 4795,
 4384,
 4533,
 4977,
 4883,
 4691,
 5784,
 5172,
 5514,
 4219,
 3802,
 5014,
 5257,
 4742,
 5220,
 4649,
 4376,
 4243,
 4926,
 3871,
 4439,
 4236,
 4772,
 4712,
 4443,
 4860,
 4842,
 4623,
 5174,
 4196,
 4309]